body, html{
    width : 100%;
    height : 100%;
}
body{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 0;
    box-sizing: border-box;
    gap : 10px;
    transition-timing-function: ease-out;
}
form{
    display : flex;
    flex-direction: column;
    gap : 10px;
    width : 60%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px grey;
    padding : 10px;
}
fieldset{
    box-sizing: border-box;
    width : 100%;
}

legend{
    height : 2em;
    border : 1px solid grey;
    border-radius: 7px;
    background-color: #d8d5d5;
    font-size : 20px;
    box-sizing: border-box;
}
textarea{
    width : 100%;
    height : 200px;
    font-size : 20px;
    padding : 10px;
    box-sizing: border-box;
    overflow: auto;
}
textarea::placeholder{
    color: grey;
    font-size: 20px;
}

input[type="text"]{
    height : 1.3em;
    width : 90%;
    font-size : 20px;
    padding : 5px;
}
#controls{
    display : flex;
    flex-direction: row;
    gap : 10px;
}
button{
    border : none;
    background-color: white;
}
button img, #to-added-content{
    transition : transform 0.3ms linear;
}
#to-added-content{
    background-color: #0e0eb6;
    color : white;
}

button img:active,#to-added-content:active{
    transform: scale(1.15);
}
button a{
    text-decoration: none;
    color : inherit;
    font-size : 16px;
}
button a:active{
    color : inherit;
}

