
@media (min-width: 768px){
    .bottom-slide{
        height: 150px;
    }
}

@media (max-width: 768px){
    .bottom-slide{
        height: 70px;
    }
}
.bottom-slide *{
    box-sizing: border-box;
}
.slide-container{
    width: 15%;
    height: 100%;
    flex: 0 0 auto;
}
.slide-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom-slide{
    grid-row: var(--bottom-sld-rw);
    display: flex;
    flex-direction :row;
    overflow: hidden;
    gap: 10px;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
