body{
    min-height : 100vh;
}

div{
    box-sizing : border-box;
    position : relative;
}
#top-bar{
    width : 100%;
    height : 80px;
    padding : 10px;
    display : flex;
    border-bottom : 1px solid yellowgreen;
    flex-direction: row;
    justify-content: space-between;
}
#top-bar-options-icon{
    width : 50px;
    height : 50px;
    transition : transform 0.3ms linear;
}
#top-bar-options-icon:active{
    transform : scale(1.13);
}

#nav-bar{
    position : fixed;
    max-width : 0;
    max-height : 100%;
    display : flex;
    flex-direction : column;
    gap : 10px;
    overflow : hidden;
    margin-top : 20px;
    background-color :darkslategray;
    transition : all 0.3s ease-out;
    z-index : 100;
}


#nav-bar a{
    width : 162px;
    height : 20px;
    padding : 10px;
    flex : 0 0 auto;
    border-radius: 15px;
    color : white;
    text-decoration : none;
    font-weight :700;
    transition : background-color 0.3ms linear;
}
#nav-bar a:hover, #nav-bar a.clicked{
    background-color : #056b05;
}
