@media only screen and (min-width : 768px){
    #news-slides{
    position : absolute;
    display : flex;
    flex-direction: row;
    gap : 0;
    overflow : hidden;
    width : 100%;
    height : 100%;
}

.slide-image{
    width : 100%;
    height : 100%;
    flex : 0 0 auto;
    background-size : cover;
}
}