html, body{
    width : 100%;
}
#body{
    border : 1px dotted black;
    width : 100%;
}
/* панель навигации. будет горизонтален */
#nav{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
}
#nav ul{
    list-style: none;
    padding : 0px;
    display : inherit;
}
#nav li{
    width : 100px;
    height : 25px;
    background-color: #d6d5d4;
    transition : background-color 0.3ms linear;
}