html, body{
    width : 100%;
}
body{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main{
    display : flex;
    flex-direction: column;
    justify-content : center;
    align-items : center;
    gap : 10px;
    width : 30%;
    border-radius : 10px;
    box-shadow : 0px 0px 15px grey;
    padding : 10px;
}

#form1{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.field{
    display : flex;
    flex-direction: column;
    gap : 5px;
    box-sizing: border-box;
}
.field input[name="ticketQTY"]{
    font-size: 17px;
    /* height: 0.3em; */
    width: 80px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}

output[name="sum"]:after{
    content : "$"
}
