{%extends 'konektem/base.html'%}
{%block styles%}
<link rel="stylesheet" type="text/css" href="{% url 'konektem:styles' 'global.css'%}" />
{%endblock styles%}

{%block content%}
<div id="services-panel">
    <div class="section-info">
        <h1>SERVICES</h1>
    </div>
    <div id="services-list">
        {% for service in services %}
        <div class="serv-container">
            <div class="service-desc">
                {{ service.name }}
            </div>
            <div class="service-img">
                <div class="service-img-cont">
                    <img alt="service-img" src="{{ service.service_img.location }}"/>
                </div>
            </div>
        </div>
        {%empty%}
        <div class="msg">
            <h2>NO SERVICES</h2>
        </div>
        {%endfor%}
    </div>
    <div class="more-actions">
        <span>see all</span>

    </div>
</div>
{%endblock content%}
