body{
                margin: 0;
                height: 100vh;
                font-size: 25px;
            }
            *{
                position: relative;
            }
            @media (min-width: 768px){
                .regForm{
                    width: 50%;
                }
            }

            @media (max-width: 768px){
                .regForm{
                    width: 95%;
                }
            }
            .form-container{
            
                position: relative;
                width: 100%;
                height: 80%;
                background-color: white;
            }
            .regForm{
              box-sizing: border-box;
                position: relative;
                border-radius: 8px;
                padding: 10px;
                margin: auto;
                display: none;
                box-shadow: 0px 0px 5px grey;
                background-color: white;
                top: 15%;
            }

            .regForm a{
              color: red;
              text-decoration: underline;
            }

            .regForm > div{
                margin-bottom: 10px;
            }
            .field, .form-btns{
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            .field.row{
                flex-direction: row;
            }
            input{
              border: none;
              border-bottom: 1px solid black;
              padding: 5px;
              font-size: 20px;
            }

            input:focus{
              outline: none;
            }
            #send-btn{
                padding: 10px;
              border-radius: 8px;
                border: none;
                background-color: #0f2c4f;
                color: white;
                font-weight: 600;
            }
            .form-close{
                display: none;
            }
            .alert {
                width: 80%;
                z-index: 5;
                margin: auto;
                text-align: center;
                font-weight: 600;
                padding: 10px;
                border-radius: 8px;
            }
            .alert.alert-ok {
                color: green;
                background-color: #90ee90cf;
            }
            .alert.alert-err {
                color: red;
                background-color: #ee9090cf;
            }